{% extends "homebase.html.twig" %}

{% block title %}Hôtel Hypsos!{% endblock %}

{% block head %} {% include "home/head.html.twig" %} {% endblock %}
{% block body %}
	
    <section id="maincontent">
      <div class="container">

        <div class="row">
          <div class="span12">
            <div class="call-action">

              <div class="text">
                <h2>Le Groupe Hôtelier Hypnos pour vos moments agréables Booker nos hôtels</h2>
                <p>
                Vous ne reviendrez plus chez nous pas hazard!!!!!
                </p>
              </div>
              <div class="cta">
                <a class="btn btn-large btn-theme" href="#">
							<i class="icon-plane icon-white"></i> prochain départ</a>
              </div>

            </div>
            <!-- end tagline -->
          </div>
        </div>

        <div class="row">
          <div class="span3 features e_pulse">
            <img src="assets/img/dummies/G_img_1.jpg" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="#"><i class="icon-circled icon-48 icon-magic active icon"></i></a>
                <h4>Puy-Saint-Vincent <br />Le pays des Ecrins psv-1400</h4>
              </div>
            </div>
          </div>

          <div class="span3 features e_pulse">
            <img src="assets/img/dummies/G_img_2.jpg" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="#"><i class="icon-circled icon-48 icon-briefcase icon"></i></a>
                <h4>Visitez Lyon <br />Des lieux inoubliables</h4>
              </div>
            </div>
          </div>

          <div class="span3 features e_pulse">
            <img src="assets/img/dummies/G_img_3.jpg" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="#"><i class="icon-circled icon-48 icon-cogs icon"></i></a>
                <h4>Visitez Rouen <br />La vielle ville et son charme</h4>
              </div>
            </div>
          </div>

          <div class="span3 features e_pulse">
            <img src="assets/img/dummies/G_img_4.jpg" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="#"><i class="icon-circled icon-48 icon-bullhorn icon"></i></a>
                <h4>Le coup de Coeur<br />Faites vos réservations</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <h4 class="rheading">Groupe Hôtelier Hypnos<span></span></h4>
            <div class="row">
              <div class="span3">

                <p class="hidden-phone">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue.
                </p>

                <a href="#" class="btn btn-theme">Read More</a>
              </div>

              <div class="span9">
                <div id="latest-work" class="carousel btleft">
                  <div class="carousel-wrapper">
                    <ul class="da-thumbs">

                      <li>
                        <img src="assets/img/dummies/G_work_1.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/G_work_1.jpg">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          <a href="portfolio-detail.html">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>PSV-1400</p>
                          </div>
                        </article>
                      </li>

                      <li>
                        <img src="assets/img/dummies/G_work_2.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/G_work_2.jpg">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          <a href="portfolio-detail.html">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>Lyon</p>
                          </div>
                        </article>
                      </li>

                      <li>
                        <img src="assets/img/dummies/G_work_3.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/G_work_3.jpg">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          <a href="portfolio-detail.html">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>Rouen</p>
                          </div>
                        </article>
                      </li>

                      <li>
                        <img src="assets/img/dummies/G_work_4.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/G_work_4.jpg">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          <a href="portfolio-detail.html">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>Mobile template</p>
                          </div>
                        </article>
                      </li>

                      <li>
                        <img src="assets/img/dummies/work5.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/G_work_1.jpg">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          <a href="portfolio-detail.html">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>Business theme</p>
                          </div>
                        </article>
                      </li>

                      <li>
                        <img src="assets/img/dummies/work6.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="assets/img/dummies/G_work_1.jpg">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          <a href="portfolio-detail.html">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>Portfolio graphic</p>
                          </div>
                        </article>
                      </li>

                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
 
{% endblock %}
					