$custom-color_1: #020A1E;
$custom-color_2:#11FFB4;
$light-dark:hsla(223, 88%, 6%, 0.30);
$text-color:$custom-color_1;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-dark {
  color: $custom-color_2;
  background-color: $light-dark;
}
.bg-light {
  color: $custom-color_2;
  background-color: #ffffff;
}